<nav class="navbar navbar-expand-lg navbar-danger ps-5  " style="background: #8332a8; font-sans-serif">
  <%= link_to 'Agbablogrs', root_path, class:"navbar-brand fw-bold fs-4 logo text-white fw-bold"%>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end pe-5" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
  
      <% if user_signed_in? %>
      <li class="nav-item"> 
      <abbr title="Write an Article ">
        <%= link_to '  ', new_article_path, class:"nav-link text-white fs-3 bi bi-plus-square "%>
        </abbr>
      </li>
      <li class="nav-item">
      <abbr title="Edit Profile ">
        <%= link_to '  ',  edit_user_registration_path, class:"nav-link  text-white fs-3 bi bi-pencil-square "%> 
        </abbr>
      </li>
      <li class="nav-item">
      <abbr title="Sign out ">

    <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: "false" },class:"nav-link text-white fs-3 bi bi-box-arrow-right" %>

        </abbr>
      </li>
      <% else %>
      <li class="nav-item"> 
        <abbr title="Write an Article ">
          <%= link_to '  ', new_article_path, class:"nav-link text-white fs-3 bi bi-plus-square-fill "%>
        </abbr>
      </li>
      <li>
          <abbr title="Sign up ">
         <%= link_to '  ', new_user_registration_path, class:"nav-link text-white fs-3 bi bi-question-square-fill "%>
          </abbr>
      </li>
      <li class="nav-item">
       <abbr title="Sign in ">
           <%= link_to '  ', new_user_session_path, class:"nav-link text-white fs-3 bi bi-box-arrow-in-left "%>
        </abbr>
      </li>
      <% end %>
  </div>
</nav>