
<h1 class="m-2 yy"> <%= @article.title %></h1>
<p class="m-4"> <%= @article.body %> </p>

<% if current_user == @article.user and user_signed_in?%>
<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary"> <%= link_to 'Edit Article', edit_article_path(@article), class: "btn btn-secondary"%> </button>
  <a  class="btn btn-danger"> <%= link_to 'Delete', article_path(@article), 
  data:{ turbo_method: :delete, turbo_confirm: 'Are you sure'}, class: "btn btn-danger" %> </a>
    
</div>
<% end %>

<hr/>
<figure class=" shadow p-5" style="background: #8b828211;">
<p class="fs-2"> Comments </p>
<div class= "px-3">
  <% @article.comments.each do |comment| %>
  <blockquote class="blockquote">
    <p><%= comment.body %>.</p>
     <%= button_to "Delete Comment", [comment.article, comment], method: :delete, class: "btn link-info float-end"  %>
  </blockquote>
  <figcaption class="blockquote-footer mx-3">
   <cite title="Source Title">
    <%= comment.commenter %></cite>
    

  </figcaption>
  <p><hr/></p>
  <% end %>
  </div>
  <%= render 'comments/form' %>
</figure>

